#################
## npm
#################

npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/


node-webkit.app
nwsnapshot


#################
## PHPStorm
#################

.idea/
*.iml
*.iws


#################
## MAC
#################
.DS_Store