#################
## npm
#################

npm-debug.log
node_modules/

test_folder/


#################
## PHPStorm
#################

.idea/
*.iml
*.iws


#################
## MAC
#################
.DS_Store